GCP_PROJECT=pmo-ai-504313
GCP_REGION=southamerica-west1
GCS_BUCKET=pmo-ai-vectordb
DEEPSEEK_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CHROMA_PATH=.chroma
EMBED_REGION=us-central1
INTERACTIONS_DB_PATH=.interactions/interactions.db
